extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/clubs/signin.css")
  h1= title
  p Welcome to #{title}
  
  div.container
    form.form-signin(action="/clubs/login" method="post")
        h2.form-signin-heading| Club Sign In.
        label.sr-only.control-label.col-sm-2(for="username")| Username : 
        input.form-control(type="text", placeholder="club username", id="username" name="username" required auto-focus)
        label.sr-only.control-label.col-sm-2(for="password")| Password : 
        input.form-control(type="password", placeholder="club password", id="password" name="password" required)
        button.btn.btn-lg.btn-primary.btn-block(type="submit")| Sign In