extends ../layout

block content
  h1= title
  p Welcome to #{title}
  link(rel="stylesheet" href="/stylesheets/dropzone.css")
  linj(rel="stylesheet" href="/stylesheets/clubs/register.css")
  script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places")
  script(type="text/javascript" src="/javascripts/locationpicker.jquery.min.js")
  p 
  | Registeration soon(tm)
  
  div.container
    form.form-register(action="/clubs/register" method="post" enctype="multipart/form-data" style="width:50%; float:left;")
        h2.form-register-heading| Club Registeration.
        label.sr-only(for="username")| Username : 
        input.form-control(type="text" placeholder="username" id="username" name="username" required auto-focus)
        label.sr-only(for="password")| Password : 
        input.form-control(type="password" placeholder="password" id="password" name="password" required)
        label.sr-only(for="name")| Name :
        input.form-control(type="text" placeholder="name" id="name" name="Name" required)
        label.sr-only(for="email")| Email :
        input.form-control(type="email" placeholder="email" id="email" name="email" required)
        label.sr-only(for="phone")| Phone :
        input.form-control(type="tel" placeholder="phone" id="phone" name="phone" required)
        label.sr-only(for="address")| Address :
        //<input type="text" id="us2-address" style="width: 200px"/>
        input.form-control(type="text" id="address" name="address")
        label.sr-only(for="latitude")| Latitude :
        input.form-control(type="text" placeholder="72.3" id="latitude" name="lat" required)
        label.sr-only(for="longitude")| Longitude :
        input.form-control(type="text" placeholder="33.3" id="longitude" name="lon" required)
        label.sr-only(for="days_open")| Days Open :
        input.checkbox-inline(type="checkbox" name="days_open", value="0")
        |Closed 
        input.checkbox-inline(type="checkbox" name="days_open", value="1")
        |Monday 
        input.checkbox-inline(type="checkbox" name="days_open", value="2")
        |Tuesday 
        input.checkbox-inline(type="checkbox" name="days_open", value="3")
        |Wednesday 
        input.checkbox-inline(type="checkbox" name="days_open", value="4")
        |Thursday 
        input.checkbox-inline(type="checkbox" name="days_open", value="5")
        |Friday 
        input.checkbox-inline(type="checkbox" name="days_open", value="6")
        |Saturday 
        input.checkbox-inline(type="checkbox" name="days_open", value="7")
        |Sunday 
        input.checkbox-inline(type="checkbox" name="days_open", value="8")
        |All-Week 
        input.checkbox-inline(type="checkbox" name="days_open", value="9")
        |Week-ends 
        label.sr-only(for="opening_time")| Opening Time :
        input.form-control(type="time" placeholder="hrs:mins AM" id="opening_time" name="opening_time" required)
        label.sr-only(for="closing_time")| Closing Time :
        input.form-control(type="time" placeholder="hrs:mins PM" id="closing_time" name="closing_time" required)
        label.sr-only(for="Images")| Profile Photo :
        input.form-control(type="file" placeholder="" id="profile_photo" name="profile_photo" accept=".gif,.png,.jpg,.jpeg,")
        button.btn.btn-lg.btn-primary.btn-block(type="submit")| Register
    div.map(style="width:50%; height:700px; float:right;")
    |Lat : 
    input.map-lat(type="text")
    |Long : 
    input.map-lon(type="text")
    br
    |Location
    input.address(type="text" style="width:50%;")
  

  
  script(type="text/javascript").
    $('.map').locationpicker({
    location: {latitude: 23.2599333, longitude: 77.41261499999996},	
    radius: 300,
    inputBinding: {
        latitudeInput: $('.map-lat'),
        longitudeInput: $('.map-lon'),
        locationNameInput: $('.address')
    },
    enableAutocomplete : true,
    onchanged : function(currentLocation, radius, isMarkerDropped)  {
        $('#latitude').val(currentLocation.latitude);
        $('#longitude').val(currentLocation.longitude);
    }
    });

mixin checkBoxWithContent(name, ,value, message)
  !='<input type="checkbox" name="'+name+'" value="'+ value +'">'+message+'</input>'