extends ../layout

block content
  h1= title
  p Welcome to #{title}
  
  if isLoggedIn
    a(href="/clubs/logout")| Logout
  else
    a(href="/clubs/login")| Login  
  p 
  | Party listing soon available, why not 
  a(href='/parties/register') reigster
  |  in the meanwhile.
  
  if isLoggedIn
    //Show Club Details for Updation and Other Stats.
  else 
    //Show Clubs Lists & popularity.
    
  script(type="text/javascript").
    function getLocation()  {
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(locationCB)
        }else {
            console.log('Geolocation is not supported');
        }
    }
    
    function locationCB(position){
        console.log(position);
    }
    
    getLocation();