extends ../layout

block content
  h1= title
  p Welcome to #{title}
  linj(rel="stylesheet" href="/stylesheets/clubs/register.css")
  script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places")
  script(type="text/javascript" src="/javascripts/locationpicker.jquery.min.js")
  p 
  | Registeration soon(tm)
  
  div.container
    form.form-register(action="/parties/register" method="post" enctype="multipart/form-data" style="width:50%; float:left;")
        h2.form-register-heading| Party Registeration.
        label.sr-only(for="name")| Party Name : 
        input.form-control(type="text" placeholder="name" id="name" name="name" required auto-focus)
        input.form-control(type="text" id="address" name="address")
        label.sr-only(for="latitude")| Latitude :
        input.form-control(type="text" placeholder="72.3" id="latitude" name="lat" required)
        label.sr-only(for="longitude")| Longitude :
        input.form-control(type="text" placeholder="33.3" id="longitude" name="lon" required)
        label.sr-only(for="Party Type")| Party Type : 
        select.form-control(name="party_type")
            option(value="0")| Single Day
            option(value="1")| Multiple Days.
        label.sr-only(for="start_date")| Start Date :
        input.form-control(type="datetime-local" placeholder="" id="start_date" name="start_date" required)
        label.sr-only(for="end_date")| End Date :
        input.form-control(type="datetime-local" placeholder="" id="end_date" name="end_date" required)
        label.sr-only(for="photo")| Photo :
        input.form-control(type="file" placeholder="photo" id="photo" name="photo" accept=".gif,.png,.jpg,.jpeg," required)
        label.sr-only(for="description")| Description :
        //<input type="text" id="us2-address" style="width: 200px"/>
        input.form-control(type="text" placeholder="Party Description" id="description" name="description" required)
        input.form-control(type="number" placeholder="Total seats" id="totalSeats" name="total_seats")
        input.checkbox-inline(type="checkbox" name="club_same_party", value="0")
        | Location and Address same as Club.
        button.btn.btn-lg.btn-primary.btn-block(type="submit")| Register
    div.map(style="width:50%; height:700px; float:right;")

    |Lat : 
    input.map-lat(type="text")
    |Long : 
    input.map-lon(type="text")
    br
    |Location
    input.address(type="text" style="width:50%;")
  
    script(type="text/javascript").
        $('.map').locationpicker({
        location: {latitude: 23.2599333, longitude: 77.41261499999996},	
        radius: 300,
        inputBinding: {
            latitudeInput: $('.map-lat'),
            longitudeInput: $('.map-lon'),
            locationNameInput: $('.address')
        },
        enableAutocomplete : true,
        onchanged : function(currentLocation, radius, isMarkerDropped)  {
            $('#latitude').val(currentLocation.latitude);
            $('#longitude').val(currentLocation.longitude);
        }
        });

mixin checkBoxWithContent(name, ,value, message)
  !='<input type="checkbox" name="'+name+'" value="'+ value +'">'+message+'</input>'